<div class="container">
<a class="btn btn-secondary" href="{{ path('all')}}" role="button">Retour aux produits</a>
<br>{% if article.promo == true %}<span class="badge badge-primary">Promo</span>{% endif %}<br>
<div class="d-flex flex-wrap ">

<h1 class="card-title">{{ article.name }}​​</h1>
	<div class="card mb-3" style="width: 50vw;">
  
		<img src="{{ article.image }}​​" class="card-img-top">
      <div class="card-body">
        <h1 class="card-title">{{ article.priceHT }}​​ €</h1>
        <p class="card-text">{{ article.description }}​​</p>
        
      </div>
	</div>
</div>
</div>